# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/README.md
!*.py
!*.m

# Folder to not ignore
!/Computations/
!/Notes/

# PDFs and other outputs
*.pdf
*.xlsx
*.pptx
*.svg
*.jpg
*.png
*.jpeg
*.gif
*.bmp

# Temp files
.DS_Store
*.pyo
__pycache__

# Temp outputs
*.csv
*.h5

# Executables
*.exe
