# PDFs and other outputs
*.pdf
*.xlsx
*.pptx
*.ppt
*.svg
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tar.gz

# Temp files
.DS_Store
*.pyo
__pycache__

# Temp outputs
*.csv
*.h5
*.ini
HubbardTweezer/src/Hubbard/equalizer_lsq.py

# Folders
output
HubbardTweezer/data

# Executables
*.exe
pymanopt

# Packages
pkg
