# PDFs and other outputs
*.pdf
*.xlsx
*.pptx
*.ppt
*.svg
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tar.gz
*.zip

# Temp files
.DS_Store
*.pyo
__pycache__

# Outputs
*.csv
*.h5
*.ini

# Executables
*.exe